{% extends 'base.html' %}

{% block body_class%}Booking Page{% endblock %}

{% block content %}

<!-- This is wher the timekit API works in. Using Timkit does most of the heavy lifting on the backend to build the widget and manage the appointments with email notifications for the cusotme and appointment management for the business. -->

<div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <h1>Booking page</h1>
        <p>Select a time that works best to bring your car in. Please be sure to bring all documents with you to the appointment.</p>

        <div id="bookingjs"></div>
        <script src="https://cdn.timekit.io/booking-js/v2/booking.min.js" defer></script>
        <script>
        window.timekitBookingConfig = {
          app_key: 'test_widget_key_CcglKC7i6fWfgkGSP70Avjw8BYCSe9NP',
          project_id: '8ae641fe-8bf9-4c1c-b8b0-898929d3b7dc'
        }
        </script>

      </div>
      <div class="col">
      </div>
    </div>


{% endblock %}