{% extends 'base.html' %}

{% block body_class%}Employee Contact{% endblock %}

{% block content %}

<div class="container text-center fs-1"><u>Meet Our Staff</u></div>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1595211877493-41a4e5f236b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=715&q=80" class="card-img-top" alt="Man" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Darius Hill</h5>
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Body Shop Manager</a></li>
              <li class="list-group-item"><a href="tel:530-999-1000p123">530-999-1000 ext123</li>
                <li class="list-group-item"><a href="mailto:d.hill@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
                
              </div>
      </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1627161683077-e34782c24d81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=703&q=80" class="card-img-top" alt="woman" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Carrie Mack</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Assistant Manager</li>
              <li class="list-group-item"><a href="tel:530-999-1000p124">530-999-1000 ext124</li>
              <li class="list-group-item"><a href="mailto:c.mack@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
            
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80" class="card-img-top" alt="Man" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Shane Gillis</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Production Manager</li>
              <li class="list-group-item"><a href="tel:530-999-1000p125">530-999-1000 ext125</li>
              <li class="list-group-item"><a href="mailto:s.gillis@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
             
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="woman" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Sarah Harris</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Estimator</li>
              <li class="list-group-item"><a href="tel:530-999-1000p126">530-999-1000 ext126</li>
              <li class="list-group-item"><a href="mailto:s.harris@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
              
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1573496358961-3c82861ab8f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80" class="card-img-top" alt="woman" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Ash Becknell</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Estimator</li>
              <li class="list-group-item"><a href="tel:530-999-1000p127">530-999-1000 ext127</li>
              <li class="list-group-item"><a href="mailto:a.becknell@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
              
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1573497019940-1c28c88b4f3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="woman" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Seirra Fawn</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Accounting</li>
              <li class="list-group-item"><a href="tel:530-999-1000p128">530-999-1000 ext128</li>
              <li class="list-group-item"><a href="mailto:s.fawn@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
           
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1629425733761-caae3b5f2e50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="man" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Jermey Smith</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Blueprinter</li>
              <li class="list-group-item"><a href="tel:530-999-1000p129">530-999-1000 ext129</li>
              <li class="list-group-item"><a href="mailto:j.smith@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
             
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1580518324671-c2f0833a3af3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="man" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Tim Hare</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Blueprinter</li>
              <li class="list-group-item"><a href="tel:530-999-1000p130">530-999-1000 ext130</li>
              <li class="list-group-item"><a href="mailto:t.hare@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
            
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1627161684458-a62da52b51c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=849&q=80" class="card-img-top" alt="man" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Tyler Erickson</h5>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Reception</li>
              <li class="list-group-item"><a href="tel:530-999-1000">530-999-1000 </li>
              <li class="list-group-item"><a href="mailto:t.erickson@gmail.com">Send an email</a></li>
            </ul>
            <div class="card-body">
             
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}