{% extends 'base.html' %}

{% block body_class%}Home Page{% endblock %}

{% block content %}
<div class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-success" style="border-radius: 3rem;">
    <div class="row">
        <div class="col-5 mt-5">
           ,<img src="https://images.unsplash.com/photo-1597328290883-50c5787b7c7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Crashed car" height="300rem" width="300rem" style="border-radius: 5rem;">
          </div>
          <div class="col-6 mt-5">
            <p class="fs-5 text-light">Welcome to The Body Shop, your trusted partner in restoring your vehicle to its former glory after an unexpected accident. We understand that being involved in a collision can be an overwhelming experience, leaving you unsure of the next steps to take. That's where we step in. With our expert team of skilled technicians and a passion for delivering exceptional results, we are here to guide you through the repair process with ease and professionalism. From the moment you walk through our doors, you can expect a warm and inviting atmosphere, where your worries are put at ease and your vehicle's restoration becomes our top priority. Let us take care of the details, so you can focus on getting back on the road safely.</p>
          </div>
          <div class="col-1">
            
          </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Reviews</h5>
                  <p class="card-text">See what our customers have to say about us.</p>
                  <a href="/customerReviews" class="btn btn-secondary">See Reviews</a>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
        
        </div>
      </div>

    <div class="row">
        <div class="col">
            
          </div>
          <div class="col-10 m-5">
            <div class="card-group">
                <div class="card">
                  <img src="https://cdn.pixabay.com/photo/2014/04/03/00/38/shield-308943_1280.png" class="card-img-top" alt="Shield" height="300px">
                  <div class="card-body">
                    <h5 class="card-title">Lifetime Warranty</h5>
                    <p class="card-text">All body work and paint services. Our commitment to quality ensures that any repairs or paint work done by our skilled team are covered for the entire duration of your ownership of the vehicle.</p>
                    <a href="/warranty" class="btn btn-outline-success">Learn More</a>
                    <p class="card-text"><small class="text-body-secondary"></small></p>
                </div>
            
                </div>
                <div class="card">
                  <img src="https://kaboompics.com/cache/8/e/e/2/8/8ee2825e2e311818627b3153eee8d2f155ca7c05.jpeg" class="card-img-top" alt="Color Cards" height="300px">
                  <div class="card-body">
                    <h5 class="card-title">Our Products</h5>
                    <p class="card-text">Our commitment to delivering perfect repairs every time is upheld by our use of premium-grade paint products.</p>
                    <a href="https://us.ppgrefinish.com/PPG-Refinish/Home" class="btn btn-outline-success">Learn More</a>
                    <p class="card-text"><small class="text-body-secondary"></small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1525182008055-f88b95ff7980?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="Man smiling on the phone in front of computer" height="300px">
                  <div class="card-body">
                    <h5 class="card-title">Quality & Care</h5>
                    <p class="card-text">Experience our unwavering commitment to high quality and customer service. We strive to deliver excellence in every aspect, ensuring your satisfaction is our top priority.</p>
                    <a href="/contact" class="btn btn-outline-success">Contact Us</a>
                    <p class="card-text"><small class="text-body-secondary"></small></p>
                  </div>
                  
                </div>
              </div>
          </div>
          <div class="col">
            
          </div>
        </div>
        
</div>
{% endblock %}