{% extends 'base.html' %}

{% block body_class%}Warranty Information{% endblock %}

{% block content %}

<div class="container text-center fs-1"><u>Warranty</u></div>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="row">
      <div class="col shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-success text-dark">
        At [Body Shop Name], we take great pride in the quality and craftsmanship of our work. That's why we are pleased to offer a lifetime warranty on all our body work and paint services. We stand behind the expertise of our technicians and the premium materials we use, ensuring that your satisfaction and peace of mind are our top priorities.
<br>
<br>
Our lifetime warranty guarantees that any body repairs or paint work performed by our skilled team will remain free from defects in workmanship and materials for the entire duration of your ownership of the vehicle. This means that you can trust in the durability, longevity, and impeccable finish of our services.
<br>
<br>
Whether it's a dent repair, panel replacement, or a full paint job, our commitment to excellence extends beyond the completion of your vehicle's restoration. In the unlikely event that you encounter any issues covered by our warranty, simply reach out to us, and we will be more than happy to rectify the matter promptly and at no additional cost to you.
<br>
<br>
By choosing [Body Shop Name], you not only receive exceptional customer service and exceptional repair work, but you also gain the added assurance of our lifetime warranty. Experience peace of mind knowing that your investment in our services is protected for the long haul. We strive to build lasting relationships with our valued customers, and our lifetime warranty is a testament to our dedication to your complete satisfaction.
      </div>
      <div class="col-md-auto">
        
      </div>
    </div>
  </div>
  
  <h1 class="text-center m-5">Body Shop Labor Rates</h1>

<div class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-secondary text-dark p-4">
    <div class="row">
      <div class="col">
       
<p class="text-center">At Body Shop, we strive to provide transparent pricing for our services. The rates listed below represent our current posted rates. We work closely with all insurance companies to reach mutually agreeable rates. In the event of a labor rate dispute between us and your insurance company, we will handle the resolution process without passing any additional charges on to you. Our priority is to ensure a seamless experience for our valued customers, and we are committed to finding a resolution that eliminates any out-of-pocket expenses for you.</p>
      </div>
      <div class="col-3">
        <table>
            <thead>
              <tr>
                <th  scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th  scope="row">Body</th>
                <td>$105</td>
              </tr>
              <tr>
                <th scope="row">Refinish</th>
                <td>$105</td>
              </tr>
              <tr>
                <th scope="row">Mechcanical</th>
                <td colspan="2">$135</td>
              </tr>
              <tr>
                <th scope="row">Aluminum</th>
                <td colspan="2">$130</td>
              </tr>
              <tr>
                <th scope="row">Refinish Materials</th>
                <td colspan="2">$45</td>
              </tr>
            </tbody>
          </table>
      </div>
    
    </div>

{% endblock %}